body {
    margin: 0;
}

h1 {
    margin: 0;
}

.formatacaoA {
    padding: 8px;
    color: white;
    background-color: #21022d;
    text-align: center;
}

#esquerda {
    text-align: left;
    float: left;
}

.direita {
    text-align: right;
    margin-top: 32px;
}

#corpo {
    margin: 24px;
    padding: 16px;
    color: #21022d;
    background-color: #e2d8e7;
}

.vitaminasA {
    margin-top: 32px;
    margin-left: 64px;
    border: solid #21022d;
    width: 40%;
    height: 400px;
    text-align: center;
    float: left;
}

.vitaminasB {
    margin-top: 32px;
    margin-left: 64px;
    border: solid #21022d;
    width: 40%;
    height: 400px;
    text-align: center;
    float: right;
}

img {
    height: 150px;
    width: 150px;
}

#formatacaoB {
    clear: both;
    margin-top: 64px;
    text-align: center;
    
}

#imagem {
    margin-top: 32px;
    height: 300px;
    width: 600px;
}